.git
.gitmodules
.github
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.swo
node_modules
dist
build
out
runs
models
tools-prototype
tests
wkhtmltopdf.exe
book_gemma_2b.csv
tmp_view.txt
*.ipynb
