# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/

# Virtual envs
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Env / secrets
.env
*.env

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data / models (adjust as you need)
data/
out/
models/
checkpoints/
*.pt
*.bin
*.onnx
